@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;600;700&display=swap');

@theme {
  --font-sans: "Cairo", ui-sans-serif, system-ui, sans-serif;
}

@layer base {
  html {
    direction: rtl;
    font-family: var(--font-sans);
  }
}

.arabic-font {
  font-family: 'Cairo', sans-serif;
}
